@using System.Globalization
@using SFA.DAS.EmployerFinance.Interfaces
@using SFA.DAS.EmployerFinance.Web.Infrastructure

@inject IUrlActionHelper UrlHelpers;

@model SFA.DAS.EmployerFinance.Web.Orchestrators.OrchestratorResponse<TransactionLineViewModel<SFA.DAS.EmployerFinance.Models.Levy.LevyDeclarationTransactionLine>>

@{
    var culture = new CultureInfo("en-GB");
    var paymentType = "Levy";
    if (Model.Data.Amount < 0)
    {
        paymentType = "Adjustment";
    }
    ViewBag.PageID = "levy-declaration-details";
    ViewBag.Title = paymentType;
    ViewBag.Section = "finance";
    ViewBag.GaData.Vpv = $"/finance/{ViewBag.PageID}";
}


<h1 class="govuk-heading-xl">@paymentType</h1>
<p>Date <b>@Model.Data.TransactionDate.ToGdsFormatFull()</b></p>


<table class="govuk-table das-table--responsive govuk-!-font-size-16">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">PAYE scheme</th>
            <th class="govuk-table__header" scope="col">Payroll date</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Levy declared</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">English %</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">10% top up</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Your funds</th>
        </tr>
    </thead>
    <thead class="govuk-table__body">
        <tr class="govuk-table__row app-table__row--total app-table__row--total-top">
            <th scope="row" colspan="5" class="app-table__header app-table__header--total"><span class="govuk-visually-hidden">Total</span></th>
            <td data-label="Your funds total" class="govuk-table__cell govuk-table__cell--numeric  govuk-!-font-weight-bold">@Model.Data.Amount.ToString("C2", culture)</td>
        </tr>
    @{
        var orderedTransactions = Model.Data.SubTransactions.OrderBy(t => t.PayrollDate);
        foreach (var aggregationLineItem in orderedTransactions)
        {
            <tr class="govuk-table__row">
                <td data-label="PAYE scheme" class="govuk-table__cell">
                    <span>@aggregationLineItem.EmpRef</span>
                    <span>@aggregationLineItem.PayeSchemeName</span>
                </td>
                <td data-label="Payroll date" class="govuk-table__cell">
                    @aggregationLineItem.PayrollDate.ToGdsFormatWithoutDayAbbrMonth()
                </td>
                <td data-label="Levy declared" class="govuk-table__cell govuk-table__cell--numeric">
                    @(aggregationLineItem.Amount.ToString("C2", culture))
                </td>
                <td data-label="English %" class="govuk-table__cell govuk-table__cell--numeric">
                    @($"{aggregationLineItem.EnglishFraction:P3}")
                </td>
                <td data-label="10% top up" class="govuk-table__cell govuk-table__cell--numeric">
                    @(aggregationLineItem.TopUp.ToString("C2", culture))
                </td>
                <td data-label="Your funds" class="govuk-table__cell govuk-table__cell--numeric">
                    @((aggregationLineItem.LineAmount).ToString("C2", culture))
                </td>
            </tr>
        }
    }
        <tr class="govuk-table__row app-table__row--total">
            <th scope="row" colspan="5" class="app-table__header app-table__header--total"><span class="govuk-visually-hidden">Total</span></th>
            <td data-label="Your funds total" class="govuk-table__cell govuk-table__cell--numeric  govuk-!-font-weight-bold">@Model.Data.Amount.ToString("C2", culture)</td>
        </tr>
    </tbody>
</table>

<div class="grid-row">
    <div class="column-two-thirds">
        @await Html.PartialAsync("_WhatIsEnglishPercentage")
        <div class="govuk-inset-text">
            <p><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/employer-enquiries" target="_blank" class="govuk-link">Contact HMRC</a> if the levied amount isn't what you expected. </p>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a href="@UrlHelpers.EmployerFinanceAction($"teams")" class="govuk-breadcrumbs__link">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a asp-route="@RouteNames.TransactionsView" asp-route-hashedAccountId="@Model.Data.HashedAccountId" asp-route-year="@Model.Data.TransactionDate.Year" asp-route-month="@Model.Data.TransactionDate.Month" class="govuk-breadcrumbs__link">Your transactions</a></li>
            <li class="govuk-breadcrumbs__list-item">@paymentType details</li>
        </ol>
    </div>
}
