@using SFA.DAS.EmployerFinance.Formatters.TransactionDowloads
@using SFA.DAS.EmployerFinance.Interfaces

@inject IUrlActionHelper UrlHelpers;

@model TransactionDownloadViewModel

@{
    ViewBag.PageID = "download-transactions";
    ViewBag.Section = "finance";
    ViewBag.Title = "Download transactions";
    ViewBag.GaData.Vpv = $"/finance/{ViewBag.PageID}";
    ViewBag.ZenDeskLabel = "eas-download-transactions";

    var exampleClosingDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var exampleStartingDate = exampleClosingDate.AddMonths(-12);
    string hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]?.ToString();
    ViewData["CustomOrder"] = TransactionDownloadViewModel.BuildPropertyOrderDictionary();
}


<partial model="@ViewData.ModelState" name="_ValidationSummary"/>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (DateTime.UtcNow >= new DateTime(2026,07,01))
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-import"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-import">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Reports data has changed.
                    </h3>
                    <p class="govuk-body">The data fields you receive in your reports changed on 1 July 2026.</p>
                    <p class="govuk-body">
                        <a class="govuk-notification-banner__link" asp-route="@RouteNames.DownloadTransactionsReportV2">View the data specification (opens in new tab)</a> for detailed information.
                    </p>
                </div>
            </div>
        }
        else
        {
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Reports data is changing
                    </p>
                    <p class="govuk-body">Version 2 of the transactions download data is now available. It will replace version 1 on 1 July 2026.</p>
                </div>
            </div>
        }
        
        <h1 class="govuk-heading-xl">Download transactions</h1>
        <p>Create a report of your transactions for a chosen date range.</p>
        @if (DateTime.UtcNow < new DateTime(2026,7,01))
        {
            <p><a asp-route="@RouteNames.DownloadTransactionsReportV2" target="_blank" class="govuk-link govuk-link--no-visited-state">View the data specification (opens in new tab)</a> to understand the data we provide.</p>    
        }
             

        @using (Html.BeginForm("TransactionsDownload", "EmployerAccountTransactions", new { hashedAccountId }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {

            <div asp-fieldname="StartDate.Month, StartDate.Year" class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Start date</legend>
                    <div class="govuk-hint" id="start-date-hint">For example, @exampleStartingDate.ToGdsFormatNoDayMonthsNumbers()</div>

                    <span esfa-validation-for="StartDate.Month" class="govuk-error-message"></span>
                    <span esfa-validation-for="StartDate.Year" class="govuk-error-message"></span>

                    <div class="govuk-date-input">

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartDate.Month" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="StartDate.Month" class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" type="number" maxlength="2" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartDate.Year" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="StartDate.Year" class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" type="number" maxlength="4" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div asp-fieldname="StartDate.Month, StartDate.Year" class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="end-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">End date</legend>
                    <div class="govuk-hint" id="end-date-hint">For example, @exampleClosingDate.ToGdsFormatNoDayMonthsNumbers()</div>
                    <div class="govuk-date-input">
                        <span esfa-validation-for="EndDate.Month" class="govuk-error-message"></span>
                        <span esfa-validation-for="EndDate.Year" class="govuk-error-message"></span>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="EndDate.Month" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="EndDate.Month" class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" type="number" maxlength="2" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="EndDate.Year" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="EndDate.Year" class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" type="number" maxlength="4" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="@Html.IdFor(m => m.DownloadFormat)">Select format</label>
                @Html.DropDownListFor(m => m.DownloadFormat, Html.GetEnumSelectList(typeof(DownloadFormatType)), new { @class = "govuk-select" })
            </div>

            @if (DateTime.UtcNow < new DateTime(2026, 7, 01))
            {
                <div class="govuk-form-group">
                    <label class="govuk-label" for="@Html.IdFor(m => m.Version)">Select version</label>
                    <select class="govuk-select" id="Version"
                            name="Version">
                        <option value="1">Version 1</option>
                        <option value="2" selected>Version 2</option>
                    </select>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Version" value="2" />
            }

            <button class="govuk-button">Download</button>
        }
    </div>
</div>


@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a href="@UrlHelpers.EmployerAccountsAction("teams")" class="govuk-breadcrumbs__link">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a asp-route="@RouteNames.FinanceIndex" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" class="govuk-breadcrumbs__link">Funding and payments</a></li>
            <li class="govuk-breadcrumbs__list-item">@ViewBag.Title</li>
        </ol>
    </div>
}