@using SFA.DAS.EmployerFinance.Formatters.TransactionDowloads
@using SFA.DAS.EmployerFinance.Interfaces

@inject IUrlActionHelper UrlHelpers;

@model TransactionDownloadViewModel

@{
    ViewBag.PageID = "download-transactions";
    ViewBag.Section = "finance";
    ViewBag.Title = "Download transactions";
    ViewBag.GaData.Vpv = $"/finance/{ViewBag.PageID}";
    ViewBag.ZenDeskLabel = "eas-download-transactions";

    var exampleClosingDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var exampleStartingDate = exampleClosingDate.AddMonths(-12);
    string hashedAccountId = ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]?.ToString();
}


<partial model="@ViewData.ModelState" name="_ValidationSummary"/>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Download transactions</h1>
        <p>Enter a start and end date to download transactions within a specific date range.</p>

        @using (Html.BeginForm("TransactionsDownload", "EmployerAccountTransactions", new { hashedAccountId }, FormMethod.Post, true, new { novalidate = "novalidate" }))
        {
            
            <div asp-fieldname="StartDate.Month, StartDate.Year" class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Start date</legend>
                    <div class="govuk-hint" id="start-date-hint">For example, @exampleStartingDate.ToGdsFormatNoDayMonthsNumbers()</div>

                    <span esfa-validation-for="StartDate.Month" class="govuk-error-message"></span>
                    <span esfa-validation-for="StartDate.Year" class="govuk-error-message"></span>

                    <div class="govuk-date-input">

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartDate.Month" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="StartDate.Month" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" maxlength="2" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartDate.Year" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="StartDate.Year" class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" maxlength="4" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div asp-fieldname="StartDate.Month, StartDate.Year" class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="end-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">End date</legend>
                    <div class="govuk-hint" id="end-date-hint">For example, @exampleClosingDate.ToGdsFormatNoDayMonthsNumbers()</div>
                    <div class="govuk-date-input">
                    <span esfa-validation-for="EndDate.Month" class="govuk-error-message"></span>
                    <span esfa-validation-for="EndDate.Year" class="govuk-error-message"></span>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="EndDate.Month" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="EndDate.Month" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" maxlength="2" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="EndDate.Year" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="EndDate.Year" class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" maxlength="4" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="@Html.IdFor(m => m.DownloadFormat)">Select format</label>
                @Html.DropDownListFor(m => m.DownloadFormat, Html.GetEnumSelectList(typeof(DownloadFormatType)), new { @class = "govuk-select" })
            </div>
            
            <button class="govuk-button">Download</button>
        }
    </div>
</div>


@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a asp-route="@RouteNames.FinanceIndex" asp-route-hashedAccountId="@ViewContext.RouteData.Values[RouteValueKeys.HashedAccountId]" class="govuk-breadcrumbs__link">Finance</a></li>
            <li class="govuk-breadcrumbs__list-item">@ViewBag.Title</li>
        </ol>
    </div>
}