@using SFA.DAS.EmployerFinance.Web.Infrastructure
@using SFA.DAS.EmployerFinance.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.EmployerFinance.Web.ViewModels.DeletedTransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Deleted transfer connection request";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests-deleted";
    ViewBag.GaData.Vpv = "/accounts/transfers/connection/requests/deleted";
}


<partial model="@ViewData.ModelState" name="_ValidationSummary"/>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="success-summary">
            <h1 class="bold-large">Connection request deleted</h1>
            <p><i class="icon-green-tick"></i> You've successfully deleted this connection request</p>
        </div>
        <h2 class="heading-xlarge">What next?</h2>
        <form method="POST" asp-controller="TransferConnectionInvitations" asp-action="Deleted" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-transferConnectionInvitationId="@Model.HashedTransferConnectionInvitationId">
            <input type="hidden" asp-for="HashedAccountId"/>
            <input type="hidden" asp-for="HashedTransferConnectionInvitationId"/>
            <div asp-fieldname="Choice">
                <fieldset>
                    <legend>
                        <span class="visuallyhidden">What next?</span>
                        @Html.ValidationMessageFor(m => m.Choice)
                    </legend>
                    <label class="block-label selection-button-radio">
                        @Html.RadioButtonFor(m => m.Choice, "GoToTransfersPage")
                        Go to transfers
                    </label>
                    <label class="block-label selection-button-radio">
                        @Html.RadioButtonFor(m => m.Choice, "GoToHomepage")
                        Go back to the homepage
                    </label>
                </fieldset>
            </div>
            <button class="button" type="submit">Continue</button>
        </form>
                
    </div>
</div>

@section breadcrumb {
    <div class="breadcrumbs">
        <ol role="navigation">
            <li><a asp-route="@RouteNames.TransferConnectionsIndex" asp-route-hashedAccountId="@Model.HashedAccountId" class="link-back" >Back</a></li>
        </ol>
    </div>
}