@using SFA.DAS.EmployerFinance.Web.Infrastructure
@using SFA.DAS.EmployerFinance.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.EmployerFinance.Web.ViewModels.ReceiveTransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Receive transfer connection request";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests-receive";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/requests/receive";
}


<partial model="@ViewData.ModelState" name="_ValidationSummary"/>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Connection request details</h1>
        <p>@Model.TransferConnectionInvitation.SenderAccount.Name wants to connect with you. Once you approve the connection request you'll be able to request transfer funds from this employer.</p>
        <dl class="govuk-summary-list">
            @{
                var pendingChange = Model.TransferConnectionInvitation.GetPendingChange();
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sending employer</dt>
                <dd class="govuk-summary-list__value">@Model.TransferConnectionInvitation.SenderAccount.Name</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sent by</dt>
                <dd class="govuk-summary-list__value">@pendingChange.User.FullName</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sent on</dt>
                <dd class="govuk-summary-list__value">@pendingChange.CreatedDate.ToString("d MMMM yyyy")</dd>
            </div>
        </dl>
        <form method="POST" asp-controller="TransferConnectionInvitations" asp-action="Receive" asp-route-hashedAccountId="@Model.HashedAccountId" asp-route-transferConnectionInvitationId="@Model.TransferConnectionInvitationId">
            <input type="hidden" asp-for="TransferConnectionInvitationId"/>
            <input type="hidden" asp-for="HashedAccountId"/>
            <input type="hidden" asp-for="NotHashedTransferConnectionInvitationId"/>
            <div asp-fieldname="Choice">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Do you wish to connect to this employer?
                        </h2>
                    </legend>
                    <span esfa-validation-for="Choice" class="govuk-error-message"></span>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Approve" asp-for="Choice" value="Approve" type="radio">
                            <label class="govuk-label govuk-radios__label" for="Approve">
                                Yes, I want to approve the connection request
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Reject" asp-for="Choice" value="Reject" type="radio">
                            <label class="govuk-label govuk-radios__label" for="Reject">
                                No, I want to reject this request
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Continue</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <a asp-route="@RouteNames.TransferConnectionsIndex" asp-route-hashedAccountId="@Model.HashedAccountId" class="govuk-back-link">Back</a>
}