@model SFA.DAS.EmployerFinance.Web.ViewModels.SendTransferConnectionInvitationViewModel

@{
    ViewBag.Title = "Send transfer connection request";
    ViewBag.Section = "finance";
    ViewBag.PageID = "page-transfer-connection-requests-send";
    ViewBag.GaData.Vpv = "/accounts/transfers/connections/requests/send";
}

<partial model="@ViewData.ModelState" name="_ValidationSummary"/>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Confirm details</h1>
        <form method="POST" asp-controller="TransferConnectionInvitations" asp-action="Send" asp-route-hashedAccountId="@Model.HashedAccountId">
            <input type="hidden" asp-for="SenderAccountName">
            <input type="hidden" asp-for="ReceiverAccountName">
            <input type="hidden" asp-for="ReceiverAccountPublicHashedId">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header das-no-wrap">Sending employer</th>
                        <td class="govuk-table__cell">@Model.SenderAccountName</td>
                    </tr>
                    <tr class="govuk-table-row">
                        <th scope="row" class="govuk-table__header das-no-wrap">Receiving employer</th>
                        <td class="govuk-table__cell">@Model.ReceiverAccountName</td>
                    </tr>
                    <tr class="govuk-table-row">
                        <th scope="row" class="govuk-table__header das-no-wrap">Receiving account ID</th>
                        <td class="govuk-table__cell">@Model.ReceiverAccountPublicHashedId</td>
                    </tr>
                </tbody>
            </table>
            <div asp-fieldname="Choice">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Do you want to connect with this receiving employer?
                        </h2>
                    </legend>
                    <span esfa-validation-for="Choice" class="govuk-error-message"></span>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="Confirm" asp-for="Choice" value="Confirm" type="radio">
                            <label class="govuk-label govuk-radios__label" for="Confirm">
                                Yes, I want to send a request to connect
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ReEnterAccountId" asp-for="Choice" value="ReEnterAccountId" type="radio">
                            <label class="govuk-label govuk-radios__label" for="ReEnterAccountId">
                                No, I want to re-enter the account ID
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Continue</button>
        </form>
    </div>
</div>

@section breadcrumb {
    <a class="govuk-back-link" href="@Url.Action("Start", "TransferConnectionInvitations",new {Model.HashedAccountId})">Back</a>
}