@using System.Globalization
@using SFA.DAS.EmployerFinance.Interfaces

@inject IUrlActionHelper UrlHelpers;

@model SFA.DAS.EmployerFinance.Web.Orchestrators.OrchestratorResponse<SFA.DAS.EmployerFinance.Web.ViewModels.Transfers.FinancialBreakdownViewModel>
@{
    ViewBag.PageID = "transfers-breakdown";
    ViewBag.Section = "finance";
    ViewBag.Title = "View my transfer finances";
    ViewBag.GaData.Vpv = $"/finance/transfers/breakdown";
    ViewBag.ZenDeskLabel = "eas-finance";
    var culture = new CultureInfo("en-GB");
}

<h1 class="govuk-heading-xl">View my transfer finances</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Transfer allowance for financial year @Model.Data.FinancialYearString</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p>This is calculated every year on 6 April and shows in your account after 20 April.</p>
        <p>
            This is the maximum amount of levy funds that you can transfer this financial year using pledges and <a href="https://www.gov.uk/guidance/transferring-your-apprenticeship-levy-to-another-business#how-can-i-transfer-levy-funds" target="_blank" rel="noopener" class="govuk-link govuk-link--no-visited-state">transfer connections</a>.
        </p>
        <p>
            Read more about <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/360011900419-Transfers" target="_blank" rel="noopener" class="govuk-link govuk-link--no-visited-state">how transfers work</a>.
        </p>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="app-finance-figure__wrap">
            <p class="app-finance-figure__title" id="lbl-transfer-allowance">Transfer allowance for @Model.Data.FinancialYearString</p>
            <div class="govuk-body govuk-!-font-size-24 app-finance-figure" aria-labelledby="lbl-transfer-allowance">@Model.Data.StartingTransferAllowance.ToString("C0", culture)</div>
        </div>
    </div>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">
    Current transfer commitments for financial year @Model.Data.FinancialYearString
</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <table class="govuk-table">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Approved applications to my transfer funds: accepted by applicant</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">@Model.Data.AcceptedPledgeApplications.ToString("C0", culture)</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Approved applications to my transfer funds: awaiting acceptance by applicant</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">@Model.Data.ApprovedPledgeApplications.ToString("C0", culture)</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Transfer connections</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">@Model.Data.TransferConnections.ToString("C0", culture)</td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total committed spend</th>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>@Model.Data.Commitments.ToString("C0", culture)</strong></td>
            </tr>
        </table>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary"><span class="govuk-details__summary-text">How is my remaining allowance calculated?</span></summary>
            <div class="govuk-details__text">
                <p>Your remaining allowance is calculated by subtracting your <strong>total committed spend</strong> from your <strong>@Model.Data.StartingTransferAllowance.ToString("C0", culture) transfer allowance</strong>.</p>
            </div>
        </details>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="app-finance-figure__wrap">
            <p class="app-finance-figure__title" id="lbl-transfer-committed">Total committed spend for @Model.Data.FinancialYearString</p>
            <div class="govuk-body govuk-!-font-size-24 app-finance-figure" aria-labelledby="lbl-transfer-committed">@Model.Data.Commitments.ToString("C0", culture)</div>

            <p class="app-finance-figure__title" id="lbl-transfer-remaining">Remaining allowance for @Model.Data.FinancialYearString</p>
            <div class="govuk-body govuk-!-font-size-24 app-finance-figure app-finance-figure--highlight" aria-labelledby="lbl-transfer-remaining">@Model.Data.TotalAvailableTransferAllowance.ToString("C0", culture)</div>
        </div>
    </div>
</div>

@section breadcrumb {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@UrlHelpers.EmployerAccountsAction("teams")">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@UrlHelpers.EmployerFinanceAction("finance")">Finance</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@UrlHelpers.EmployerFinanceAction("transfers")">Transfers</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                @ViewBag.Title
            </li>
        </ol>
    </div>
}
